---
layout: base
description: Personal homepage of Kevin Mahoney
---
<section>
  <p>
    I'm a software developer with an interest in <strong>functional programming</strong>,
    <strong>language design</strong>, <strong>type systems</strong>,
    <strong>databases</strong> and <strong>database design</strong>.
  </p>
  <p>
    I'm currently working in Bristol, UK for OVO Energy (<a target="_blank" href="/Kevin Mahoney.pdf">CV</a>).
  </p>
</section>

<section>
  <h2 id="articles">Articles</h2>

  {% for post in site.posts %}
  {% unless post.archived or post.hidden or post.draft %}
  <article class="article{% if post.popular %} popular{% endif %}" itemscope itemtype="http://schema.org/BlogPosting">
    <h3><a href="{{ post.url }}" itemprop="url">{{ post.title }}</a></h3>
    <time itemprop="datePublished">{{ post.date | date_to_long_string }}</time>
    <div class="description">
      <p itemprop="description">
        {{ post.description }}
      </p>
    </div>
  </article>
  {% endunless %}
  {% endfor %}

  <p><a href="/articles/">All articles...</a></p>
</section>

<section>
  <h2 id="projects">Projects</h2>

  <article class="project">
    <h3>Kuljet</h3>
    <ul>
      <li><a href="https://kuljet.com">Kuljet home page</a></li>
    </ul>
    <p>
      Kuljet is a happy little language for writing database-backed HTML applications.
      Its type checking and integration with relational databases should help you whip up
      prototypes in no time.
    </p>
  </article>

  <article class="project">
    <h3>OCellator</h3>
    <ul>
      <li><a href="/ocellator/">Try it out</a></li>
    </ul>
    <p>
      A spin-off of the OCell structural editor project for writing synths with a lispy flavour.
    </p>
  </article>

  <article class="project">
    <h3>OCell</h3>
    <ul>
      <li><a href="/ocell/">Try it out</a></li>
    </ul>    
    <p>
      Another attempt at structural code editor.
    </p>
  </article>

  <article class="project">
    <h3>Squee</h3>
    <ul>
      <li><a href="https://github.com/KMahoney/squee">GitHub</a></li>
    </ul>    
    <p>
      Squee is an experimental language that breaks relational queries down in to composable functions that can be fully inferred with a few extensions to Hindley Milner. It compiles to SQL and so can be used with relational databases.
    </p>
  </article>

  <article class="project">
    <h3>Structural Editor</h3>
    <ul>
      <li><a href="/articles/structural-editor-prototype/">Article</a></li>
      <li><a href="/prototype/">Try it out</a></li>
    </ul>    
    <p>
      A structural code editor and IDE that operates directly on abstract syntax trees instead of
      text files.
    </p>
  </article>

  <article class="project">
    <h3>Document Rendering</h3>
    <ul>
      <li><a href="/articles/modern-web-documents/">Article</a></li>
      <li><a href="/document-experiment/">Try it out</a></li>
    </ul>    
    <p>
      An experimental way of rendering web documents.
    </p>
  </article>

</section>
