* {
    margin: 0px;
    padding: 0px;
}


/* fonts */

body {
    font-family: 'helvetica neue', helvetica, arial, 'lucida grande', sans-serif;
    font-weight: 400;
    font-size: 100%;
    line-height: 1.6;
}

strong {
    font-weight: 700;
}

h1, h2, h3, h4 {
    font-weight: 700;
}


/* layout */

h1, h2 {
    margin-bottom: 0.8em; 
    clear: both;
}

main {
    margin: 0px auto;
    max-width: 42em;
    padding: 0px 10px;
}

.project {
    padding-left: 4em;
}

.project img {
    position: absolute;
    width: 3em;
    height: 3em;
    margin: 0em 0em 0em -4em;
}

.project h3 {
    line-height: 1.6em;
    margin-bottom: 0.4em;
}

p, ul {
    margin-bottom: 0.8em;
}

article {
    padding-bottom: 1.6em;
}

section {
    padding-bottom: 3.2em;
}

section.contact {
    padding: 1.6em 0em 1.6em 0em;
}

time {
    font-size: 0.8em;
}

/* headers */

h3, h4 {
    font-size: 1em;
    line-height: 1.6;
}

h1, h2 { 
    font-size: 1.6em;
}


/* timeline */

@media (max-width: 700px) {
    .project {
        padding-left: 0em;
    }

    .project img {
        display: none;
    }
}


/* style */

h1, h2, h3, h4 { color: #000; }

h1, h2 { border-bottom: 1px solid #AAA; }

body {
    background-color: white;
    color: #555;
}

a { color: #37A; }

ul { list-style: none; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }

.article ul {
    list-style: circle;
    margin-left: 2em;
}

.article h1, .article h2 {
    margin-top: 1.6em;
}
