---
layout: base
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting" id="{{ page.title | slugify }}">
  <div itemprop="articleBody">
    <time itemprop="datePublished">{{ page.date | date_to_long_string }}</time>
    {% if page.hidden %}
    <aside class="hidden">
      <p>This post has been hidden as it is considered a draft, out of date, or poor quality. You can still link directly to it.</p>
    </aside>
    {% endif %}
    {{ content }}
    <aside class="hidden" style="margin-top: 1.6em">
      <p>Thanks for reading!</p>
      <p>I am currently looking for a new job, either near Bristol, UK or remote. If you enjoy my work and are hiring, please contact me by <a href="mailto:kevin@kevinmahoney.co.uk">email</a>.</p>
    </aside>
  </div>
</article>

