---
layout: base
---
<article class="article" itemscope itemtype="http://schema.org/BlogPosting" id="{{ page.title | slugify }}">
  <div itemprop="articleBody">
    <time itemprop="datePublished">{{ page.date | date_to_long_string }}</time>
    {{ content }}
  </div>
  <aside class="disclaimer">
    <p>
      The internet has made me a <a href="https://pchiusano.github.io/2014-10-11/defensive-writing.html">defensive writer</a>
      so here is my disclaimer: I do not claim expertise, merely experience. Improvements and corrections are very welcome,
      which you can do by <a href="mailto:kevin@kevinmahoney.co.uk">email</a> or by commenting somewhere on Hacker News or Reddit.
      If I use your suggestion I'll credit you.
    </p>
  </aside>
</article>

