<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if page.title %}
    <title>Kevin Mahoney: {{ page.title }}</title>
    {% else %}
    <title>Kevin Mahoney</title>
    {% endif %}
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="Kevin Mahoney">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    {% for style in page.styles %}
    <link rel="stylesheet" href="{{ style }}">
    {% endfor %}
  </head>

  <body>
    <main>
      <header>
        <nav>
          <a href="/"><img src="/img/home.png" alt="My Homepage" /></a>
          <a href="mailto:kevin@kevinmahoney.co.uk"><img src="/img/email.png" alt="Email me! I don't bite!" /></a>
          <a href="http://github.com/KMahoney"><img src="/img/github-circle.png" alt="My GitHub profile" /></a>
          <a href="http://twitter.com/KPMTechnically"><img src="/img/twitter.png" alt="My Twitter profile" /></a>
        </nav>
      </header>

{{ content }}

    </main>
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}
  </body>
</html>
