* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

#help {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 5px;
}

#help .on { display: block; }
#help .off { display: none; }
#help.toggle .on { display: none; }
#help.toggle .off { display: block; }

#help .tip {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background: rgba(1, 0, 0, 0.5);
}

#help .key {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px 5px;
    box-shadow: 2px 1px 1px black;
}

#help small, #help .info {
    text-align: right;
}

#help a {
    color: #BBF;
    text-decoration: none;
}

#help table {
    color: white;
    margin-bottom: 10px;
}

#help table th {
    text-align: right;
    padding-right: 20px;
    padding-bottom: 5px;
}

#toplevel {
    padding-left: 23em;
}

#completions {
    position: fixed;
    width: 20em;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 1px solid #EEE;
    padding: 1em;
    overflow-y: scroll;
}

#completions .item { padding: 0.5em; }
#completions .item .desc { font-size: 0.8em; color: #888; }
#completions .item .defn-type { font-size: 0.8em; color: #8A8; }
#completions .item.selected .name { font-weight: bold; }
#completions .item.selected .desc { color: #222; }
#completions .item.selected .defn-type { font-size: 0.8em; color: #4A4; }
#completions .item.alt1 { background: #EEE; border: 1px solid #EEE; }
#completions .item.alt2 { background: #DDD; border: 1px solid #DDD; }
#completions .item.selected { border: 1px solid black;  }

#completions .group {
    margin: 0;
    padding: 10px;
}
#completions .group h1 {
    font-size: 0.8em;
    background: #888;
    color: #DDD;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
    margin: 0;
}
#completions .group .item:last-child { border-radius: 0px 0px 10px 10px;  }



.node {
    margin-right: 0.5em;
}

.node:last-child {
    margin-right: 0;
}

.toplevel-statement {
    display: block;
    margin-bottom: 1em;
}

.popup-disabled {
    opacity: 0;
}
.popup-enabled {
    opacity: 1;
}

.message-box {
    display: inline-block;
    position: relative;
    margin-right: 0.5em;
}
.message-box > .node {
    margin-right: 0px;
}
.message-box.error > .node {
    border: 1px solid red;
    border-radius: 5px;
    padding: 2px;
}
.message-box .message {
    color: black;
    position: absolute;
    top: 100%;
    width: 30em;
    margin-top: 12px;
    font-size: 0.8em;
    transition: opacity 2s;
    -webkit-transition: opacity 0.2s;
}
.message-box .message .message-text {
    border-radius: 5px;
    display: inline-block;
    position: relative;
}
.message-box .message .message-text:after {
    bottom: 100%;
    left: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 5px;
    margin-left: -5px;
}

.message-box.error > .message > .message-text {
    padding: 8px 8px 8px 8px;
    background: red;
    background-image: url(images/error.png);
    background-repeat: no-repeat;
    background-position: 7px 50%;
    padding: 8px 8px 8px 30px;
    color: #DDD;
    z-index: 1;
}
.message-box.error > .message > .message-text:after {
    border-color: rgba(213, 81, 81, 0);
    border-bottom-color: red;
}

.message-box.completions > .message > .message-text {
    z-index: 2;
}

.message-box.completions > .message > .message-text {
    color: #000;
}
.message-box.completions > .message > .message-text:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #888;
}

.message-box.completions .item { width: 30em; padding: 10px; }
.message-box.completions .completion-help {
    background: #888;
    color: #DDD;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 10px;
}
.message-box.completions .item:last-child { border-radius: 0px 0px 10px 10px; }
.message-box.completions .item.alt1 { background: #EEE; }
.message-box.completions .item.alt2 { background: #DDD; }
.message-box.completions .item .desc { color: #888; }
.message-box.completions .item .completion-type { color: #8A8; }
.message-box.completions .item.selected-completion { border: 1px solid black; }
.message-box.completions .item.selected-completion .name { font-weight: bold; }
.message-box.completions .item.selected-completion .desc { color: #222; }
.message-box.completions .item.selected-completion .completion-type { color: #4A4; }


.message-box .message .message-text .type {
    color: #FFF;
    font-weight: bold;
}


.exp { color: #AAA; }
.exp.arg-argument-list { color: #888; }
.exp:before { content: "("; }
.exp:after { content: ")"; }
.exp.child-selected:before, .exp.child-selected:after {
    color: #A33; font-weight: bold; 
}

.child-selected > .node:not(.selected):not(.empty), .child-selected > .body > .node:not(.empty) {
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 1px;
}

#statements .selected:not(.empty) {
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 1px;
    box-shadow: 2px 1px 1px black;
}

.selected:not(.empty) { background-color: #F1EFEF; }
.symbol.selected .value, .number.selected .value { border-right: 3px solid black; }
.empty.selected .value { border-left: 3px solid black; }

.empty { color: #CCC; font-style: italic; }
.symbol { color: #222; }
.number { color: #282; font-weight: bold; }
.arg-keyword.symbol { color: #A55; font-weight: bold; }
.arg-function.symbol { color: #A55; }
.arg-name.symbol { color: #008; font-style: italic; }
.completion { background-color: #449; color: white; }

.defn { display: inline-block; }
.indent-body > .body, .defn > .body { margin-left: 1em; }

.defn-type {
    font-weight: bold;
    font-size: 0.8em;
    color: #4A4;
}
#statements .defn-type {
    padding-left: 20px;
    background: url(images/check.png) no-repeat;
}
#statements .no-type {
    background: url(images/alert.png) no-repeat;
    height: 18px;
}
.defn-type.error { color: #F77; }
